<div class="d-flex flex-column mat-elevation-z2">
  <div class="row shadow-sm mx-0 my-0 py-3 px-3 fs-5" mat-subheader>{{listName}}</div>
  <mat-list class="flex-grow-0 flex-shrink-0">
    <div *ngIf="eventsList">
      <mat-list-item *ngFor="let event of eventsList | simplifyMidiEvent"
                     (click)="manuallyCopyEventToClipBoard(event.data)">
        <mat-icon matListItemIcon class="text-primary">content_copy</mat-icon>
        <div matListItemTitle>{{event.deviceName}}</div>
        <div matListItemLine>{{event.data}}</div>
      </mat-list-item>
    </div>
  </mat-list>
</div>
